.preview {
    background-color: var(--div-color-anthrazit);
    color: var(--div-color-white);
    padding: 3.75rem 1.5rem;
}

.preview_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preview_product {
    display: inline;
    max-width: 50%;
    margin-top: 2rem;
}

/*
.preview_product_description {
    
}
*/

.preview_product_description img {
    background-color: var(--div-color-white);
}

.preview_product_name {
    color: var(--div-color-white);
    margin-top: 0.5rem;
}

.preview_product_price {
    color: var(--div-color-medium-grey);
    
}

.preview_product_icons {
    margin-top: 2%;
}

.preview_shop {
    margin-top: 2rem;
    text-align: center;
}

.preview_shop_go_to {
    border: 4px solid var(--div-color-white);
    color: var(--div-color-white);
    border-radius: 8px;
    padding: 0.938rem 3.125rem;
    background: linear-gradient(to right, #3A3734 50%, var(--div-color-anthrazit) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    
}
 
.preview_shop_go_to:hover {
    background-position: left bottom;
    transition: all 0.5s ease-out;
}

.preview_shop_go_to:active {
    background: linear-gradient(to right, var(--div-color-white) 50%, #3A3734 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    transition-delay: 500ms;
}

