.footer {
    background-color: black;
    color: var(--div-color-white);
    padding: 4rem 1.4rem 4rem 1.4rem;
}

/*
.footer_header {

}

.footer_logo {

}
*/

.footer_name {
    margin-top: 2rem;
}


.footer_name_advanced {
    font-size: 1.3rem;
}

.footer_bottom {

}

.footer_address {
    display: flex;
    margin: 2rem 0;
    align-items: flex-end;
    justify-content: space-around;
}

.footer_street {
    display: inline;
    width: 50%;
}

.footer_time {
    display: inline;
    width: 50%;
}

.footer_links {
    display: flex;
}

.footer_links a {
    display: block;
}

.footer_guideline {
    display: inline;
    width: 50%;
}

.footer_about {
    display: inline-block;
    width: 50%;
}