.footer {
    background-color: black;
    color: var(--div-color-white);
    padding: 3.75rem 1.5rem 3.125rem 1.5rem;
}

/*
.footer_header {

}

.footer_logo {

}
*/

.footer_name {
    margin-top: 1rem;
    font-size: 1.75rem;
}


.footer_name_advanced {
    font-size: 1.125rem;
}

/*
.footer_bottom {

}
*/

.footer_address {
    margin: 2.125rem 0;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}


.footer_street {
    display: inline;
    width: 50%;
}

.footer_time {
    display: inline;
    width: 50%;
}

.footer_links {
    display: flex;
    gap: 1rem;
}

.footer_links a {
    display: block;
    color: white;
    text-decoration: none;
}

.footer_guideline {
    display: inline;
    width: 50%;
}

.footer_about {
    display: inline-block;
    width: 50%;
}