.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    background-color: black;
}

.header a{
    color: white;
}

.header_logo {
    box-sizing: content-box;
    z-index: 500;
}

.header_logo, .header_menu_m, .header_menu_d {
    padding: 0.625rem 1.5rem;
}

.header_menu_m {
    display: flex;
    align-items: center;
}

.header_menu_m_navigation {
    display: none;
}

.header_menu_m_button {
    z-index: 500;
}

.navigation_background {
    display: none;
    height: 3rem;
    width: 3rem;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    transition: display 0s;
    transition: transform .8s;
}

.navigation_nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;

    opacity: 0;
    width: 0;
    transform: all .8s;
}

.navigation_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    z-index: 600;
}

/*
.navigation_item {

}
*/

.navigation_link {
    font-size: 2rem;
}
        
.header_menu_d {
    display: none;
    /*
    display: flex;
    align-items: center;
    gap: 2rem;
    */
}

.header_menu_café, .header_menu_from, .header_menu_shop {
    box-sizing: content-box;
}

.header_menu_m_navigation:checked ~ .navigation_background {
    display: block;
    transform: scale(80);
}

.header_menu_m_navigation:checked ~ .navigation_nav {
    opacity: 1;
    width: 100%;
}

@media (min-width: 1200px) {
    .header_menu_m {
        display: none;
    }
    
    .header_menu_d {
        display: flex;
        align-items: center;
        gap: 2rem;
    }    
}


/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// Very large desktop devices (1920px and up)
@media (min-width: 1920px) { ... }
*/