.café_background {
    background-color: black;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
}

.header a{
    color: white;
}

.header_logo, .header_navigation {
    box-sizing: content-box;
}

.header_navigation {
    display: flex;
    align-items: center;
}

.header_logo, .header_menu_m, .header_menu_d {
    padding: 4vh;
}

.header_menu_m {
    display: flex;
    align-items: center;
}

.header_menu_d {
    display: none;
    /*
    display: flex;
    align-items: center;
    gap: 2rem;
    */
}

.header_menu_café, .header_menu_from, .header_menu_shop {
    box-sizing: content-box;
}

@media (min-width: 1200px) {
    .header_menu_m {
        display: none;
    }
    
    .header_menu_d {
        display: flex;
        align-items: center;
        gap: 2rem;
    }    
}

/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// Very large desktop devices (1920px and up)
@media (min-width: 1920px) { ... }
*/