/*
.start_map {

}
*/

.start_map h2 {
    margin: 3vh 3vh 4vh 4vh;
}

/*
.start_map_card {
    
}
*/

.start_map_card iframe {
    width: 100%;
    height: auto;
    min-height: 231px;
}