.start_café {
    padding: 3.75rem 1.5rem;
}

.start_café h2 {
    margin-bottom: 1rem;
}

/*
.start_café_informations p {
    
}
*/
/*
.start_café_informations h2 {

}
*/

.start_café_röst {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;
}

.start_café_address {
    display: inline;
    width: 47.5%;
}

.start_café_time {
    display: inline;
    width: 47.5%;
}

.start_café_room {
    height: auto;
    width: auto;
}

.start_café_bioandfair {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}


.start_café_bioandfair p{
    margin-bottom: 2rem;
}