.start_ingredients {
    text-align: center;
    padding: 3rem 2.7rem;
}

.start_ingredients > img {
    margin-top: 2rem;
    min-height: 40vh;
}

.start_ingredients_description {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    margin-top: 3rem;
}

.start_ingredients_cup, .start_ingredients_shovel, .start_ingredients_plant {
    display: inline;
    flex-shrink: 1;
}

.start_ingredients_description p {
    margin: 1rem 0;
}

.start_ingredients_to_shop {
    background-color: var(--div-color-anthrazit);
    color: var(--div-color-white);
    padding: 1rem 3rem;
    border-radius: 8px;
    margin-top: 3rem;
}