/*
.start_map {

}
*/

.start_map h2 {
    margin: 0.75rem 0 2.188rem 1.5rem;
}

/*
.start_map_card {
    
}
*/

.start_map_card iframe {
    width: 100%;
    height: auto;
    min-height: 231px;
}