.start_ingredients {
    text-align: center;
    padding: 3.75rem 1.5rem;
}

.start_ingredients > img {
    margin-top: 1.5rem;
    min-height: 40vh;
}

.start_ingredients_description {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    margin-top: 2.75rem;
}

.start_ingredients_cup, .start_ingredients_shovel, .start_ingredients_plant {
    display: inline;
    flex-shrink: 1;
}

.start_ingredients_description p {
    margin: 1rem 0;
}

.start_ingredients_to_shop {
    background-color: var(--div-color-anthrazit);
    color: var(--div-color-white);
    padding: 0.938rem 3.125rem;
    border-radius: 8px;
    margin-top: 2.5rem;
    background: linear-gradient(to right, #3A3734 50%, var(--div-color-anthrazit) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
 
.start_ingredients_to_shop:hover {
    background-position: left bottom;
    transition: all 0.5s ease-out;
}