<footer>
    <div class="footer">
        <div class="footer_header">
            <img class="footer_logo" src="\images\group.png">
            <h3 class="footer_name">Rustica</h3>
            <p class="footer_name_advanced">Café & Rösterei</p>
        </div>
        <div class="footer_bottom">
            <div class="footer_address">
                <div class="footer_street">
                    <p>
                        Fraunhoferstr. 13, Kiel
                    </p>
                </div>
                <div class="footer_time">
                    <p>Mo - Fr 8-18 Uhr</p>
                    <p>Sa 11-18 Uhr</p>
                </div>
            </div>
            <div class="footer_links">
                <div class="footer_guideline">
                    <a>Impressum</a>
                    <a>Datenschutz</a>
                </div>
                <div class="footer_about">
                    <a>Café</a>
                    <a>Shop</a>
                    <a>Herkunft</a>
                </div>
            </div>
        </div>
    </div>
</footer>