<header class="header">
    <div class="header_logo">
        <img src="\images\icons\group.png">
    </div>
    <div class="header_menu_m">
        <img class="header_menu_symbol" src="\images\icons\burger_menu.png">
    </div>    
    <div class="header_menu_d">
        <a class="header_menu_café" href="/sub-page/das_Café.html">das Café</a>
        <a class="header_menu_from" href="/sub-page/die_Herkunft.html">Herkunft</a>
        <a class="header_menu_shop" href="/sub-page/der_Shop.html">Shop</a>
    </div>
</header>