<header class="header_b">
    <div class="header_logo">
        <a href="/index.html" class="header_logo_b"><img class="header_logo_b" src="\images\icons\group-b.png"></a>
    </div>
    <a href="/index.html"><img class="header_logo_w" src="\images\icons\Logo.png"></a>
    <div class="header_menu_b_m">
        <input type="checkbox" class="header_menu_b_m_navigation" id="navigation_toggle">
        <label for="navigation_toggle" class="header_menu_b_m_button"><img class="header_menu_symbol_b" src="\images\icons\burger_menu-b.png"></label>
        <img class="header_menu_symbol_navigation" src="\images\icons\burger_menu.png">
        <div class="navigation_background">&nbsp;</div>
        <nav class="navigation_nav">
            <ul class="navigation_list">
                <li class="navigaton_item"><a class="navigation_link" href="/index.html">Home</a></li>
                <li class="navigaton_item"><a class="navigation_link" href="/sub-page/das_Café.html">das Café</a></li>
                <li class="navigaton_item"><a class="navigation_link" href="/sub-page/die_Herkunft.html">Herkunft</a></li>
                <li class="navigaton_item"> <a class="navigation_link" href="/sub-page/der_Shop.html">Shop</a></li>
            </ul>
        </nav>
    </div>
    <div class="header_menu_b_d">
        <a class="header_menu_café_b" href="/sub-page/das_Café.html">das Café</a>
        <a class="header_menu_from_b" href="/sub-page/die_Herkunft.html">Herkunft</a>
        <a class="header_menu_shop_b" href="/sub-page/der_Shop.html">Shop</a>
    </div>
</header>