<header class="hero_header">
    <div class="hero">
        <div class="hero_top">
            <div class="hero_bar">
                <img class="hero_logo" src="\images\group.png">
                <div class="hero_menu_m">
                    <img class="hero_menu" src="\images\burger_menu.png">
                </div>
                <div class="hero_menu_d">
                    <a class="hero_menu_café">das Café</a>
                    <a class="hero_menu_from">Herkunft</a>
                    <a class="hero_menu_shop">Shop</a>
                </div>
            </div>
        </div>
        <div class="hero_title">
            <h1>Rustica</h1>
            <p>Bio und Fair seit 1991</p>
        </div>
        <div class="hero_shop">
            <button class="hero_to_shop">zum Shop</button>
        </div>
    </div>
</header>