<header class="header_b">
    <div class="header_logo_b">
        <img src="\images\group-b.png">
    </div>
    <div class="header_menu_b_m">
        <img class="header_menu_symbol_b" src="\images\burger_menu-b.png">
    </div>
    <div class="header_menu_b_d">
        <a class="header_menu_café_b" href="/sub-page/das_Café.html">das Café</a>
        <a class="header_menu_from_b" href="/sub-page/die_Herkunft.html">Herkunft</a>
        <a class="header_menu_shop_b" href="/sub-page/der_Shop.html">Shop</a>
    </div>
</header>