<header class="header">
    <div class="header_logo">
                    <a href="/index.html"><img class="header_logo_wo" src="\images\icons\Logo.png"></a>
    </div>
    <div class="header_menu_m">
        <input type="checkbox" class="header_menu_m_navigation" id="navigation_toggle">
        <label for="navigation_toggle" class="header_menu_m_button"><img class="header_menu_symbol" src="\images\icons\burger_menu.png"></label>
        <div class="navigation_background">&nbsp;</div>
        <nav class="navigation_nav">
            <ul class="navigation_list">
                <li class="navigaton_item"><a class="navigation_link" href="/index.html">Home</a></li>
                <li class="navigaton_item"><a class="navigation_link" href="/sub-page/das_Café.html">das Café</a></li>
                <li class="navigaton_item"><a class="navigation_link" href="/sub-page/die_Herkunft.html">Herkunft</a></li>
                <li class="navigaton_item"> <a class="navigation_link" href="/sub-page/der_Shop.html">Shop</a></li>
            </ul>
        </nav>
    </div>    
    <div class="header_menu_d">
        <a class="header_menu_café" href="/sub-page/das_Café.html">das Café</a>
        <a class="header_menu_from" href="/sub-page/die_Herkunft.html">Herkunft</a>
        <a class="header_menu_shop" href="/sub-page/der_Shop.html">Shop</a>
    </div>
</header>