<header class="hero_header">
    <div class="hero">
        <div class="hero_top">
            <div class="hero_bar">
                <img class="hero_logo" src="\images\group.png">
                <img class="hero_menu" src="\images\burger_menu.png">
            </div>
        </div>
        <div class="hero_title">
            <h1>Rustica</h1>
            <p>Bio und Fair seit 1991</p>
        </div>
        <div class="hero_shop">
            <button class="hero_to_shop">zum Shop</button>
        </div>
    </div>
</header>