<section class="map">
    <h2>Komm vorbei</h2>
    <div class="map_card">
         <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=10.120438635349275%2C54.34103245554051%2C10.123979151248934%2C54.34245532437962&amp;layer=mapnik&amp;marker=54.34174389611629%2C10.122208893299103" style="border: 1px solid black"></iframe>
    </div>
</section>
