      <section class="preview">
        <h2>Entdecke unsere Kaffe Sorten</h2>
    
        <div class="preview_section">
            <div class="preview_product">
                <div class="preview_product_description">
                    <img src="\images\pictures\FEND_Coffee_Costa-Rica 2.png">
                    <p class="preview_product_name">Costa Rica</p>
                    <p class="preview_product_price">6,90€ - 26,90€</p>
                </div>
                <div class="preview_product_icons">
                    <img src="\images\icons\Icon Kaffee Bohnen.png">
                    <img src="\images\icons\Icon French Press.png">
                    <img src="\images\icons\Icon Kaffee Schaufel.png">
                </div>
            </div>
            <div class="preview_product">
                <div class="preview_product_description">
                    <img src="\images\pictures\FEND_Coffee_Costa-Rica 2.png">
                    <p class="preview_product_name">Costa Rica</p>
                    <p class="preview_product_price">6,90€ - 26,90€</p>
                </div>
                <div class="preview_product_icons">
                    <img src="\images\icons\Icon Kaffee Bohnen.png">
                    <img src="\images\icons\Icon French Press.png">
                    <img src="\images\icons\Icon Kaffee Schaufel.png">
                </div>
            </div>
            <div class="preview_product">
                <div class="preview_product_description">
                    <img src="\images\pictures\FEND_Coffee_Costa-Rica 2.png">
                    <p class="preview_product_name">Costa Rica</p>
                    <p class="preview_product_price">6,90€ - 26,90€</p>
                </div>
                <div class="preview_product_icons">
                    <img src="\images\icons\Icon Kaffee Bohnen.png">
                    <img src="\images\icons\Icon French Press.png">
                    <img src="\images\icons\Icon Kaffee Schaufel.png">
                </div>
            </div>
            <div class="preview_product">
                <div class="preview_product_description">
                    <img src="\images\pictures\FEND_Coffee_Costa-Rica 2.png">
                    <p class="preview_product_name">Costa Rica</p>
                    <p class="preview_product_price">6,90€ - 26,90€</p>
                </div>
                <div class="preview_product_icons">
                    <img src="\images\icons\Icon Kaffee Bohnen.png">
                    <img src="\images\icons\Icon French Press.png">
                    <img src="\images\icons\Icon Kaffee Schaufel.png">
                </div>
            </div>
        </div>
        <div class="preview_shop">
            <a href="/sub-page/shop.html" class="preview_shop_go_to">
                alle Produkte
            </a>
        </div>
      </section>