<header class="header">
    <div class="header_logo">
        <img src="\images\group.png">
    </div>
    <div class="header_menu_m">
        <img class="header_menu_symbol" src="\images\burger_menu.png">
    </div>
    <div class="header_menu_d">
        <a class="header_menu_café">das Café</a>
        <a class="header_menu_from">Herkunft</a>
        <a class="header_menu_shop">Shop</a>
    </div>
</header>