<section class="start_ingredients">
    <h2>Das steckt drin</h2>
    <img src="\images\FEND_Coffee_Costa-Rica 1.png">
    <div class="start_ingredients_description">
        <div class="start_ingredients_cup">
            <img src="\images\Icon Kaffee Tasse.png">
            <p>Bester
                <br>
                Geschmack
                </p>
        </div>
        <div class="start_ingredients_shovel">
            <img src="\images\Icon Kaffee Schaufel groß.png">
            <p>Fair
                <br>
                gehandelt
                </p>
        </div>
        <div class="start_ingredients_plant">
            <img src="\images\Icon Kaffee Pflanze.png">
            <p>Bio
                <br>
                Qualität
                </p>
        </div>
    </div>
    <button class="start_ingredients_to_shop"><a>zum Shop</a></button>
</section>