<section class="start_café">
    <div class="start_café_informations">
        <h2>Rösterei & Café</h2>
        <div>
            <p>Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen Röstereim serviert im gemütlichen Café in der Innenstadt.</p>
            <div class="start_café_röst">
                <div class="start_café_address">
                    <p>
                        Komm uns besuchen!
                        <br>
                        Fraunhoferstr. 13, Kiel
                    </p>
                </div>
                <div class="start_café_time">
                    <p>
                        Mo - Fr 8-18 Uhr
                        <br>
                        Sa 11-18 Uhr
                    </p>
                </div>
                <div class="start_café_room">
                    <img src="\images\FEND-Coffee-shop.png">
                </div>
            </div>

            <div class="start_café_bioandfair">
                <div class="start_café_plant">
                    <img src="\images\FEND-coffee-plant.png">
                </div>
                <div>
                    <h2>Bio & Fair</h2>
                    <div>
                        <p>
                            Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
                            Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
                            Und das alles in bester Bio Qualität
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>