<div class="start_introduction">
    <div class="start_introduction_title">
        <h1>Rustica</h1>
        <p>Bio und Fair seit 1991</p>
    </div>
    <div class="start_introduction_shop">
        <button class="start_introduction__to_shop">zum Shop</button>
    </div>
</div>
