<section class="start_map">
    <h2>Komm vorbei</h2>
    <div class="start_map_card">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Fraunhoferstr.%2013%20Kiel+()&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://www.gewerbeversicherung.at/'>Betriebsbündelversicherung</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=0c65579d3d42265c0f8bd33837559d71e9dc2641'></script>
    </div>
    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=0c65579d3d42265c0f8bd33837559d71e9dc2641'></script>
</section>
