* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--div-color-white);
  font-size: var(--body-text-font-size-m);
  font-weight: var(--body-text-font-weight);
  line-height: var(--body-text-line-height);
  font-family: 'Roboto';

  @media (min-width: 768px) {
    color: var(--div-color-anthrazit);
  }
}

main {
  margin: 0 auto;

  & div {
    color: var(--div-color-anthrazit);

    @media (min-width: 768px) {
      
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: var(--h1-font-size-m);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
}

h2 {
  font-size: var(--h2-font-size-m);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
}

h3 {
  font-size: var(--h3-font-size-m);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
}